root { 
    display: block;
}

html {
    height:100%;
}

body {
    background-color: cornsilk;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    height:100%;
}

/* footerin laatikoiden sisäinen asettelu */
.footerText{
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

/* footerin yleinen asettelu ja määrittely */
.footerStyle {
    position:relative;
    bottom:0px;
    height: 40px;
    width: 100%;
    background-color:black;
    color: white;
    padding-top: 1px;
    text-align: center;

    /* pyöreät kulmat */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

/* linkkien asettelu */
#linkit ul {
    /* fontin koon ym määrittelyä.. */
    font-size: 1.2em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 2em auto;

    /* taustaväriksi h1-elementin taustaväri */
    background-color: rgb(40, 40, 40);

    /* ei näytetä palloja */
    list-style-type: none;


    /* pyöreät kulmat */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* linkkien listaobjectien asettelu */
#linkit ul li {
    float: left; 
    display: inline; 
}

/* yksittäisten linkkien asettelusäännöt */
#linkit ul li a {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px 1.5em;
    text-decoration: none;
}

/* Sääntö kun linkin päälle viedään hiiri */
#linkit ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
}

/* päätekstin sisältävä artikkeli */
#main {
    background-color: white;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    height:100%;
    margin-bottom: 2%;

    /* pyöreät kulmat */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

fieldset {
    width:50%
}

label.kyltti {
    float:left;
    text-align: left;
    width:100px;
}

input.kentta {
    float:left;
    width: 200px;
}

fieldset p {
    clear:both;
    padding:5px;
}